.container{
    padding: 90px;
    width: 700px;
    max-width: 100% !important;
    text-align: center;
    
}
footer{
    position: fixed !important;
    bottom: 0;
}
h1{
    margin-top: 10px !important;
    color: #a1907e !important;
    background-color: rgba(255, 228, 196, 0.801);
    padding: 10px;
    color: white !important;
    border-radius: 10px;
    width: 700px;
    max-width: 90%;
    margin: auto;
    
}
body{
    background-image: url("../images/carousel5.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
;
}